
/* #view {
    height: 45vw;
} */

hr {
  border: 1; 
  height: 2px; 
  background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0);
}
.btn-sm {
  line-height: 0.8;
}

.btn {
  box-shadow: 3px 3px 3px lightgrey;
}