
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap");
/* #view {
    height: 45vw;
} */
main {
    border-style: hidden;
}

a {
    color: black;
}

p {
    line-height: 2.5rem;
    color: black;
    text-align: end;
    font-size: 2rem;
    font-family: "Fira Code";
    font-weight: 300;
    
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#grayscale {
  
  border-radius: 50%;
  box-shadow: 5px 5px 5px lightgrey;
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(10px);
}
#grayscale:hover {
filter: blur(0);
  -webkit-filter: blur();
}

hr {
  
  border: 0; 
  height: 1px; 
  background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0);
  box-shadow: 5px 5px 5px lightcoral;
}