@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");

#Contact {
    background-color: #347B98;
}

.card-title {
    color: #B84E14;
}
.card-body {
    font-family: "Open Sans";
    font-size: 1.5rem;
    font-weight: 300;

}

a i {
    color: #B84E14;
    margin-left: 10px;
}

.card {
    background-color: transparent !important;
}
