@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");


li, span {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: 400;
}

#radius {
  border-radius: 50%;
}
