@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");


header {
  /* background: linear-gradient(to right, white, lightgray);
	background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li a {
    font-family: Amatic SC;
    font-size: 1.5rem;
}

h1 i {
    color: rgb(238, 135, 76);
    margin-right: 10px;
}