@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");


li, span {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

#radius {
  border-radius: 50%;
}
