@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

h1, h2  {
    font-family: 'Amatic SC', cursive;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
